<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="/assets/error.css">

  <title>Error 404 - Página no encontrada</title>

</head>
<body>
  <div class="container">
    <h1>Error 404 - Página no encontrada</h1>
    <p>Lo sentimos, la página que estás buscando no se pudo encontrar.</p>
    <p>Puede que el enlace que has seguido esté roto o que hayas introducido la dirección incorrectamente.</p>
    <a href="/" class="btn">Volver a la página principal</a>
  </div>
</body>
</html>
