<h2>Nombre del Link: <%= @link.name %></h2>
<h2>URL Original: <%= @link.url %></h2>

<% if @link.private? %>
  <h2>Este es un enlace privado.</h2>
<% end %>

<% if @link.temporary? %>
    <h2>¡Todavia no expiró!</h2>
   <h2>Fecha de expiración: <%= @link.expiration_date %></h2>
<% end %>

<% if @link.regular? %>
  <h2>Este es un enlace regular.</h2>
<% end %>

<% if @link.ephemeral? %>
  <h2>Este es un enlace efimero.</h2>
<% end %>