body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #b1deed;
  }

  #wrapper .sidebar-brand-text {
    color: #ff00ff;
    font-size: 1.5rem; 
    font-weight: bold; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    margin-bottom: 0; 
  }
  .sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff; 
    padding: 10px;
    text-align: center;
  }
  
  #content-wrapper {
    text-align: center;
    padding: 20px;
  }
  
 /* Estilos para la barra de navegación */
.navbar {
  background-color: #f0ae5e; 
  border: 1px solid #d9e7eb;; 
  text-align: center;
}

.nav-link {
  color: #f8f5f4;
  
}
.nav-link:hover {
  color: #060606;
}

/* Estilos para el título (h2) */
h2 {
  color: #1387ed; 
  background-color: #d9e7eb; 
  padding: 10px; 
  border: 1px solid #091116; 
  border-radius: 8px;
  margin: 20px 0;
  text-align: center;
}
h3{
  color: #1387ed; 
  background-color:#d9e7eb;
  padding: 10px; 
  border: 1px solid #f1f3f3; 
  border-radius: 8px; 
  margin: 20px 0; 
  text-align: center;
}

h4{
  color: #151514; 
  background-color:#b6dbf1; 
  padding: 10px; 
  border: 1px solid #f1f3f3;
  border-radius: 8px;
  margin: 20px 0; 
  text-align: center;
}
.alert {
  background-color: #f44336;
  color: white;
  padding: 15px;
  margin-bottom: 15px;
}

.notice {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  margin-bottom: 15px;
}

/*
 *= require_tree .
 *= require_self
 *= require devise
 */

